<div class="container-fluid img ">



  <div class="row ">
    <div class="col">
      <a type="nav-link " class="btn volver " href="/">Volver</a>
    </div>

  </div>

  <div class="row accordion-body border ">

    <div class="accordion accordion-flush panel " id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed botones" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¿Qué es Rexya? ¿Y para qué sirve?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse cajatexto" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Asistente Virtual con Interfaz Gráfica para el Usuario de Windows 10.Con su uso se busca reducir el tiempo
            que el usuario dedica a realizar tareas en el pc.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed botones" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Equipo de trabajo
          </button>
        </h2>
        <div id="flush-collapseTwo" class="row accordion-collapse collapse  cajatexto"
          aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class=" col-sm-8 accordion-body">



            Malina, Juan Bautista
            Franco, Marco Lisandro


          </div>

          <div class="col">


          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed botones" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Envia tu opinion
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse cajatexto border" rel="noopener"
          target="_blank" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="row accordion-body border">
            <div class="form col-sm-6">
        <form  >
<div>

</div>


        </form>

        <button class="btn btn-primary" (click)="buscarOpinion()">Buscar</button>

            </div>

          </div>

        </div>



      </div>
    </div>


  </div>


</div>
