
<div class="container-fluid img border ">



    <div class="row border">
      <div class="col">
        <a type ="nav-link " class="btn volver" href="/" >Volver</a>
      </div>

      </div>

<div class ="row border" >

<div class="col-sm">
  <p>
    <button class="btn reyxa" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
     ¿Para qué sirve Reyxa?
    </button>
  </p>
  <div style="min-height: 50px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-text" style="width:500px;">
<a >texto</a>
      </div>
    </div>
  </div>


</div>


</div>

<div class="row border">
  <p>
    <button class="btn desarrolladores" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseWidthExample" aria-expanded="" aria-controls="collapseWidthExample">
      Desarrolladores
    </button>
  </p>
  <div style="min-height: 50px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div  class="card card-text" style="width:500px;">
        <a >texto</a>
      </div>
    </div>
  </div>

</div>
<div class="row border">
  <p>
    <button class="btn contacto" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseWidthExample" aria-expanded="" aria-controls="collapseWidthExample">
     Contáctanos
    </button>
  </p>
  <div style="min-height: 50px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div  class="card card-text" style="width:500px;">
        <a >texto</a>
      </div>
    </div>
  </div>

</div>
  </div>

