

.img{
  background-image: url(../../../assets/images/acercaDe.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 700px;
  width: 700px;
  background-attachment: absolute;
  background-position: center center;

}
.volver {
  margin-left: 295px;
  margin-top: 90px;
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 125%;
  border-style: none;

}
.panel{
  margin-left: 170px;
width:370px;
max-height: 440px;
 color: white;
 margin-top: 60px;
 background-color:rgb(133, 131, 235);
 -moz-border-radius: 7px;
 -webkit-border-radius: 7px;
}
.botones{
 background-color:rgb(133, 131, 235);
 color: white;
 font-family: Arial;
 font-weight: bolder;

}
.cajatexto{
 background-color:rgb(133, 131, 235);
 color: white;
 font-family: Arial;
max-height: 200px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;

}
