<div class="container-fluid img ">



  <div class="row ">
    <div class="col">
      <a type="nav-link " class="btn volver " href="/">Volver</a>
    </div>

  </div>

  <div class="row accordion-body  ">

    <div class="accordion accordion-flush panel " id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed botones" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¿Qué es Rexya? ¿Y para qué sirve?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse cajatexto" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body" style="background-color:rgb(133, 131, 235) ;">
            <label>Asistente Virtual para Usuario de
              Windows 10 y Windows 11. El cual brinda atajos y utilidades para reducir el tiempo que el usuario dedica
              al realizar tareas en el pc.</label>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed botones" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Equipo de trabajo
          </button>
        </h2>
        <div id="flush-collapseTwo" class="row accordion-collapse collapse  cajatexto"
          aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class=" col-sm-8 accordion-body " style="background-color:rgb(133, 131, 235) ;">



            <strong>Malina,</strong> Juan Bautista
            <p>@gmail.com</p>
            <strong>Franco,</strong> Marco Lisandro
            <p>marcofranco340@gmail.com</p>
          </div>

          <div class="col">


          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed botones" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Deja tu comentario

          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse cajatexto " rel="noopener" target="_blank"
          aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="row accordion-body " style="background-color:rgb(133, 131, 235) ;">

<!--Este div contiene los botones que luego utilizan los componentes modal que estan posteriormente -->

            <button type="button" class="btn botones" data-bs-toggle="modal" data-bs-target="#formBuscar"
              data-bs-whatever="@mdo">Edita tu comentario</button>


            <button type="button" class="btn botones " data-bs-toggle="modal" data-bs-target="#formComentario"
              data-bs-whatever="@mdo">
              Describe tu experiencia
            </button>

            <button type="button" class="btn botones " (click)="buscarUsuarios()" data-bs-toggle="modal"
              data-bs-target="#comentarios" data-bs-whatever="@mdo">Conoce comentarios de otros usuarios</button>



          </div>








          <div class="modal fade " id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content form">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Usuario buscado:{{nombre_usuario}} / {{rta}} </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form (ngSubmit)="editarUsuario()">
                    <div class="mb-3">

                      <input type="text" class="form-control" required [(ngModel)]="usuario.nombre" name="usuario"
                        matInput>
                    </div>
                    <div class="mb-3">


                      <textarea class="form-control inputs" id="message-text" required
                        [(ngModel)]="usuario.comentario_usuario.comentario" name="descripcion" matInput></textarea>
                    </div>
                    <button class="btn botones ">Enviar</button>
                  </form>
                </div>

              </div>
            </div>
          </div>





          <div class="modal fade " id="formComentario" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content form">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Escribe tu comentario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="crearUsuario()">
                  <div class="mb-3">
                    <input type="text" class="form-control" required [(ngModel)]="usuariocrear.nombre"
                      name="usuario" matInput placeholder="Nombre de usuario">
                  </div>
                  <div class="mb-3">


                    <textarea class="form-control inputs" id="message-text" required
                      [(ngModel)]="usuariocrear.comentario_usuario.comentario" name="descripcion" matInput
                      placeholder="Comentario"></textarea>
                  </div>
                  <button class="btn botones ">Enviar</button>
                </form>
              </div>

            </div>
          </div>
        </div>



          <div class="modal fade" id="formBuscar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content form">
                <div class="modal-header ">
                  <h5 class="modal-title " id="exampleModalLabel">Buscar tu usuario </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form (ngSubmit)="buscarUsuario()">
                    <div class="mb-3">

                      <input type="text" class="form-control inputs" required [(ngModel)]="nombre_usuario"
                        name="usuario" matInput placeholder="Nombre de usuario">
                    </div>
                    <button class="btn botones " data-bs-toggle="modal" data-bs-target="#editar">Enviar</button>


                  </form>
                </div>

              </div>
            </div>
          </div>
          <div class="modal fade " id="comentarios" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
              <div class="modal-content form">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body  ">

                  <table class="table " id="tablaUsuarios">

                    <thead>
                      <tr>
                        <th>Usuario </th>
                        <th> Comentario</th>
                      </tr>

                    </thead>

                    <tbody>
                      <tr *ngFor="let user of usuarios" id={{user.id_usuario}}>

                        <td scope="row">{{user.nombre}}</td>
                        <td>
                          <p class="text-break"> {{user.comentario_usuario.comentario}} </p>
                        </td>

                      </tr>
                    </tbody>

                  </table>

                </div>


              </div>

            </div>

          </div>
        </div>
