
  <div  class="container-fluid img border ">

  <div class="container-fluid border">

    <div class="row border">
      <div class="col"> <a type="nav-link " class="btn volver" href="/">Volver</a></div>
    </div>

    <div class="row border">
      <div class="col" style="color: white;"> <button type="button " class="btn explorador  " (click)="abrirExplorador()">1</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn bloc  " (click)="abrirNotas()">2</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn paint  " (click)="abrirPaint()">3</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn calculadora  " (click)="abrirCalculadora()">4</button></div>
    </div>


    <div class="row border">
      <div class="col" style="color: white;"> <button type="button " class="btn wsp  " (click)="abrirWsp()">1</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn spotify  " (click)="abrirSpotify()">2</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn ig  " (click)="abrirIg()">3</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn youtube  " (click)="abrirYoutube()">4</button></div>
    </div>


    <div class="row border">
      <div class="col" style="color: white;"> <button type="button " class="btn gmail  " (click)="abrirGmail()">1</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn noticias  " (click)="abrirNoticias()">2</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn clima  " (click)="abrirClima()">3</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn netflix  " (click)="abrirNetflix()">4</button></div>
      <div class="col" style="color: white;"> <button type="button " class="btn config  " (click)="abrirConfig()">4</button></div>
    </div>
  </div>



</div>
