<div class="container img border ">
<div class="container">

 <div class="row"><div class="col"> <a type ="nav-link " class="btn volver" href="/" >Volver</a></div></div>

  <div class="row border">
     <div class="col" style="color: white;">    <a type ="nav-link " class="btn explorador  "  >1</a></div>
     <div class="col"style="color: white;"><a type ="nav-link" class="btn bloc "  >2</a> </div>
     <div class="col"style="color: white;">  <a type ="nav-link" class="btn paint "  >3</a></div>
     <div class="col"style="color: white;">       <a type ="nav-link" class=" btn calculadora " >4</a></div>
    </div>


  <div class="row"> <div class="col"></div> <div class="col"></div> <div class="col"></div> <div class="col"></div></div>
</div>


</div>

