
  <div  class="container-fluid img">

  <div class="container-fluid">

    <div class="row">
      <div class="col"> <a type="nav-link " class="btn volver" href="/">Volver</a></div>
    </div>

    <div class="row">
      <div class="col" style="color: white;"> <button type="button "
         class="btn explorador  " (click)="abrirExplorador()"  title="Abrir explorador de archivos"></button></div>
      <div class="col" style="color: white;"> <button type="button "
        class="btn bloc  " (click)="abrirNotas()"   title="Abrir bloc de notas"></button></div>
      <div class="col" style="color: white;"> <button type="button "
        class="btn paint  " (click)="abrirPaint() "  title="Abrir paint"></button></div>
      <div class="col" style="color: white;"> <button type="button "
        class="btn calculadora  " (click)="abrirCalculadora()"  title="Abrir calculadora"></button></div>
    </div>


    <div class="row">
      <div class="col" style="color: white;"> <button type="button "
        class="btn wsp  " (click)="abrirWsp()"  title="Abrir Whatsapp Web"></button></div>
      <div class="col" style="color: white;"  title="Abrir spotify web"> <button type="button "
         class="btn spotify  " (click)="abrirSpotify()"></button></div>
      <div class="col" style="color: white;"  title="Abrir instagram"> <button type="button "
        class="btn ig  " (click)="abrirIg()"></button></div>
      <div class="col" style="color: white;"  title="Abrir youtube"> <button type="button "
        class="btn youtube  " (click)="abrirYoutube()"></button></div>
    </div>


    <div class="row">
      <div class="col" style="color: rgb(13, 12, 12);"> <button type="button "
        class="btn gmail  " (click)="abrirGmail()"  title="Abrir gmail"></button></div>

      <div class="col" style="color: white;"> <button type="button "
        class="btn noticias  " (click)="abrirNoticias()"  title="Ver noticias"></button></div>

      <div class="col" style="color: white;"> <button type="button "
        class="btn clima  " (click)="abrirClima()"  title="Ver clima"></button></div>

      <div class="col" style="color: white;"> <button type="button "
         class="btn netflix  " (click)="abrirNetflix()"  title="Abrir Netflix"></button></div>

      <div class="col" style="color: white;"> <button type="button "
        class="btn config  " (click)="abrirConfig()"  title="Abrir configuración de Windows"></button></div>
    </div>
  </div>



</div>
