.img {
  background-image: url(../../../assets/images/atajos.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 600px;
  width: 600px;
  background-attachment: absolute;
  background-position: center center;


}
