<div >

  <div class="container-fluid img border text-center ">
<div></div>
    <div class="row">
      <div class="col">

        <a type ="nav-link" class="btn atajos " href="/atajos" >Atajos</a>


      </div>

      <div class="col" >

        <a type ="nav-link" class="btn utilidades " href="/utilidades" >Utilidades</a>
      </div>

    </div>
<br><br><br><br><br><br>
    <div class="row" >
      <div class="col">
        <div class="" >
          <a type ="nav-link" class="btn acerca-de " href="/acerca-de" >Acerca de</a>
        </div>
      </div>
      <div class="col" >

        <button type="button " class="btn salir  " [@transicion] = "state" (click)="cerrarPrograma()" >Salir</button>
      </div>

    </div>

  </div>

</div>
