.img {
  background-image: url(../../../assets/images/home.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 700px;
  width: 700px;
  background-attachment: absolute;
  background-position: center center;

}

.atajos{
  color:white;
background-color: transparent;
width: 100px;
height: 40px;
font-size: 140%;
//fuente equivalente a 20
font-family: Arial;
font-weight: bold;
margin-top: 250px;
margin-left: 90px;
border-style: none;
}
.utilidades{

  background-color: transparent;
  width: 140px;
height: 40px;
font-size: 140%;
  color:white;
  //fuente equivalente a 20
  font-family: Arial;
  font-weight: bold;
margin-right: 70px;
  margin-top: 250px;
  border-style: none;
  }
  .acerca-de{

    background-color: transparent;
    color:white;
    width: 150px;
    height: 40px;
    font-size: 140%;
    //fuente equivalente a 20
    font-family: Arial;
    font-weight: bold;
margin-left: 90px;
border-style: none;


    }
    .salir{
      color:white;
      background-color: transparent;
      width: 100px;
      height: 40px;
      font-size: 140%;
      //fuente equivalente a 20
      font-family: Arial;
      font-weight: bold;
margin-right: 100px;
border-style: none;
      }
