<div >

  <div class="container-fluid img text-center ">

    <div class="row">
      <div class="col text-center">
        <!--Boton el cual al presionarlo muestra al componente atajos-->

        <a type ="nav-link" class="btn atajos " href="/atajos" >Atajos</a>


      </div>



    </div>

    <div class="row" >
      <div class="col" >
   <!--Boton el cual al presionarlo muestra al componente utilidades-->
        <a type ="nav-link" class="btn utilidades " href="/utilidades" >Utilidades</a>
      </div>
      <div class="col">
   <!--Boton el cual al presionarlo muestra al componente acercaDe-->
          <a type ="nav-link" class="btn acerca-de " href="/acercaDe" >Acerca de</a>

      </div>

    </div>

  </div>

</div>
