<div>

  <div class="container img border text-center">

    <div class="row">
      <div class="col">
        <div class="container " >
          <br><br>
          <br><br>
          <br><br><br>
          <br>
          <button class="btn atajos">Atajos</button>
        </div>
      </div>
      <div class="col" >
        <br><br>
        <br><br>
        <br><br><br>
        <br>
        <button class="btn utilidades">Utilidades</button>
      </div>

    </div>
<br><br><br><br><br><br>
    <div class="row" >
      <div class="col">
        <div class="container " >

          <button class="btn acerca-de">Acerca de</button>
        </div>
      </div>
      <div class="col" >

        <button class="btn salir">Salir</button>
      </div>

    </div>

  </div>

</div>
