.img {
  background-image: url(../../../assets/images/home.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 800px;
  width: 800px;
  background-attachment: absolute;
  background-position: center center;


}

.atajos{
  color:white;
background-color: transparent;
width: 80px;
height: 30px;
font-size: 120%;
//fuente equivalente a 20
font-family: Arial;
font-weight: bold;


}
.utilidades{

  background-color: transparent;
  width: 110px;
  height: 30px;
  font-size: 120%;
  color:white;
  //fuente equivalente a 20
  font-family: Arial;
  font-weight: bold;


  }
  .acerca-de{

    background-color: transparent;
    color:white;
    width: 120px;
    height: 30px;
    font-size: 120%;
    //fuente equivalente a 20
    font-family: Arial;
    font-weight: bold;


    }
    .salir{
      color:white;
      background-color: transparent;
      width: 80px;
      height: 30px;
      font-size: 120%;
      //fuente equivalente a 20
      font-family: Arial;
      font-weight: bold;


      }
