.img {
  background-image: url(../../../assets/images/home.png);
  background-repeat: no-repeat;
  background-size:cover;
  height: 700px;
  width: 700px;
  background-attachment: absolute;
  background-position: center center;

}

.atajos{
  color:white;
background-color: transparent;
width: 100px;
height: 40px;
font-size: 160%;
//fuente equivalente a 20
font-family: Arial;
font-weight: bold;
margin-top: 160px;
margin-left: 0px;
border-style: none;
}
.utilidades{

  background-color: transparent;
  width: 140px;
height: 40px;
font-size: 160%;
  color:white;
  //fuente equivalente a 20
  font-family: Arial;
  font-weight: bold;
margin-left: 50px;
margin-top:175px;
  border-style: none;
  }
  .acerca-de{

    background-color: transparent;
    color:white;
    width: 150px;
    height: 40px;
    font-size: 160%;
    //fuente equivalente a 20
    font-family: Arial;
    font-weight: bold;
margin-left: -50px;
border-style: none;
margin-top:175px;

    }

