/* You can add global styles to this file, and also import other style files */
body{

//background-image: url(assets/images/Backgrounds/background-9.png);
background-image: url(assets/images/Backgrounds/background-6.png);
background-size: 100%;
//media-query ->buscar
background-repeat:no-repeat;


  //background: #115af8de;
  //https://coolbackgrounds.io/
}


.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  display: flex;
}
