
<div class="container img border ">
<div class="row">
  <div class="col">
    <a type ="nav-link " class="btn volver" href="/" >Volver</a>
  </div>
</div>
  <div class="row">
    <div class="col">



        <a type ="nav-link " class="btn papelera  " href="/" >Borrar Papelera</a>

    </div>
    <div class="col" >

      <a type ="nav-link" class="btn defender " href="/" >Realizar analisis</a>
    </div>

  </div>
<br><br><br><br><br><br>
  <div class="row" >
    <div class="col">
      <div class="" >
        <a type ="nav-link" class="btn update " href="/" >Actualizaciones</a>
      </div>
    </div>
    <div class="col" >

      <a type ="nav-link" class=" btn apagado " href="/" >Programar apagado</a>
    </div>

  </div>

</div>












