<div class="container img border ">



 <div class="container">
 <div class=" row align-items-start">
   <div class="col-4 align-self-end"> </div>
   <div class="col-4 align-self-end"><br><br><br><br><button class =" container botones border">
    <input type="image"src="../../../assets/images/flecha.png" height ="30" width="50 "href="/home" /></button></div>
   <div class="col-4 align-self-end"></div>
 </div>


    <div class="offset-3  row align-items-center">

      <div class="col-4 align-self-end">

        <button class =" container botones border">
           <input type="image"src="../../../assets/images/papelera.png" height ="230" width="200" /></button>

      </div>
      <div class="offset-1 col-4 align-self-end">
        <br><<br><br><br><button class =" container botones border">
        <input type="image"src="../../../assets/images/seguridad.png" height ="230" width="200" /></button></div>
      <div class="col-4"></div>


</div>
<div class="offset-3  row align-items-end">

  <div class="col-4">

    <button class =" container botones border">
       <input type="image"src="../../../assets/images/Wupdate.png" height ="230" width="200" /></button>

  </div>
  <div class="offset-1 col-4 ">
    <button class =" container botones border">
    <input type="image"src="../../../assets/images/apagado.png "height ="230" width="200" /></button></div>
  <div class="col-4"></div>

</div>









