.img {
  background-image: url(../../../assets/images/utilidades.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 800px;
  background-attachment: absolute;
  background-position: center center;
  display: flex;


}

  .abs-center {

    align-items: center center;
    justify-content: center center;

  }


.botones {
  background-color: transparent;
  border-color: transparent;



}

