
<div class="container-fluid img">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <a type ="nav-link " class="btn volver" href="/" >Volver</a>
      </div>
    </div>
      <div class="row">
        <div class="col">

           <button type ="button " class="btn papelera "  (click)="vaciarPapelera()"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
            title="Vaciar papelera" >
          </button>
        </div>
        <div class="col" >


          <button type ="button " class="btn defender "  (click)="realizarAnalisis()"
          data-bs-toggle="tooltip" data-bs-placement="bottom"
          data-bs-custom-class="custom-tooltip"
          title="Realizar análisis con Windows Defender" >
        </button>

        </div>

      </div>

      <div class="row" >
        <div class="col">

            <button type ="button" class="btn update "
            data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip"
            title="Abrir Windows update" (click)="abrirWupdate()"></button>

        </div>
        <div class="col" >




          <div class="btn-group dropend "  >
            <button type="button" title="Programar Apagado" class="btn   apagado" data-bs-toggle="dropdown" aria-expanded="false">

            </button>
            <ul class=" dropdown-menu "style="background-color:white; color:black ;">PROGRAMAR APAGADO
              <div>
 <li><a class="btn dropdown-item" (click)=" programarApagado(3600)"style="color:black" >●1 hs</a></li>
           <li><a class="btn dropdown-item "style="color:black;"(click)="programarApagado(7200)">●2 hs </a></li>
           <li><a class="btn dropdown-item" style="color:black" (click)="programarApagado(10800)">●3 hs</a></li>
           <li><a class="btn dropdown-item"style="color:black"  (click)="programarApagado(14400)">●4 hs</a></li>
           <li><a class=" btn dropdown-item" style="color:black" (click)="cancelarApagado()">●Cancelar apagado anterior</a></li>


              </div>
   </ul>
          </div>

        </div>





    </div>














  </div>
