.img {
  background-image: url(../../../assets/images/utilidades.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 800px;
  background-attachment: absolute;
  background-position: center center;
//display:flex;


}

.botones {
  background-color: transparent;
  border-color: transparent;
}

.volver{

margin-left: 350px;
margin-top: 150px;
color: white;
font-family: Arial;
font-weight: bold;
}
.papelera{
  color:white;
background-color: transparent;
width: 100px;
height: 90px;
font-size: 110%;
//fuente equivalente a 20
font-family: Arial;
font-weight: bold;
margin-top: 100px;
margin-left: 150px;
}
.defender{

  background-color: transparent;
  width: 100px;
  height: 90px;
  font-size: 110%;
  color:white;
  //fuente equivalente a 20
  font-family: Arial;
  font-weight: bold;
margin-left: 180px;
  margin-top: 100px;

  }
  .update{
    background-color: transparent;
    width: 145px;
height: 30px;
font-size: 110%;
color:white;
    //fuente equivalente a 20
    font-family: Arial;
    font-weight: bold;
margin-left: 90px;
margin-top: -75px;

    }
    .apagado{
      color:black; color:white; background-color: transparent;
      width: 100px;
      height: 75px;
      font-size: 110%;
      //fuente equivalente a 20
      font-family: Arial;
      font-weight: bold;
margin-left: 170px;
margin-top:-75px;

      }

